*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
   
}
html {
    font-size: 62.5%;
}
body  { 
    background-color: rgb(92, 91, 91);  
}

div.commission-calc-container .form-style h2, div.loan-calc-container .form-style h2,
#lenders-heading, h2#loan-results-heading, h1.commission-records__heading{
  background: linear-gradient(to right bottom, #1bd1d1 5%,  #22c4c4 100%);
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  color:rgb(92, 91, 91);
  font-size: 2rem;
  font-weight: 200;
  padding: 20px;
  margin-bottom: 3%; 
  text-align: center;
}

input, select, label, p, td {
    /* border: 1px solid #bbddbb; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    max-width: 100%;  
    color: rgb(252, 247, 247);  
}

.form-style,  .commission-records__container, table {
  font-family: "Open Sans Condensed", arial, sans;
  width: 60%;
  background: #3d3d3d;
  /* margin: 2% auto; */
  /* padding-bottom:2%; */
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.22);
}

.form-style, .commission-records__container {
  width: 40%;
  float: left;
}

.commission-records__container {
  position: absolute;
  top: 73%;
  left: 5%;
}

form#commission-form {
  position: absolute;
  top: 2%;
  left: 5%;
}

form#loan-form {
  position: absolute;
  top: 2%;
  left: 55%;
}

.form-style select {cursor: pointer};
.form-style td,
.form-style th { 
  margin: 20px;
  padding: 20px;
 }

.form-style input[type="text"],
.form-style input[type="number"],
.form-style label
.form-style textarea,
.form-style select,
.form-style option,
p#commission-results,
p.lenders,
div.lenders-container
 {
  outline: none;
  display: block;
  width: 90%;
  padding: 7px;
  margin-left: 3%;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font-family: "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1em;
  height: 45px;
}

.form-style textarea {
  resize: none;
  overflow: hidden;
}
.form-style input[type="button"],
.form-style input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #45d6d6;
  -webkit-box-shadow: inset 0px 1px 0px 0px #45d6d6;
  box-shadow: inset 0px 1px 0px 0px #45d6d6;
  background-color: #2cbbbb;
  border: 1px solid #27a0a0;
  /* display: inline-block; */
  cursor: pointer;
  color: rgb(92, 91, 91);
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.3rem;
  padding: .7rem 1rem;
  text-decoration: none;
  letter-spacing: .2rem;
  text-transform: uppercase;
  border-radius: 25px;
}

.btn {
	position: relative;
	top: 50%;
  left: 40%;
  margin: 3% 0;
}
#commission-btn {
  margin-left: -2rem;
}

.form-style input[type="button"]:hover,
.form-style input[type="submit"]:hover {
  background: linear-gradient(to bottom, #34caca 5%, #30c9c9 100%);
  background-color: #34caca;
  color: white;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-1px); /*-1 is in relation to the initial state not the -3px state) */
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.btn,
.btn:active, 
.btn:focus, 
.btn:hover{   
    outline:none !important;
}
div.loan-results-container table, th, tr, td, #loan-results-heading  {
  padding: 2%;
  margin: 3% auto;
  text-align: center;
  color: whitesmoke;
  font-size: 1.6rem;
}
table { width: 80%; }

  td.loan-data, th.tableHeading { text-decoration: underline; }

  th.tableHeading { 
    font-size: 1.8rem; 
    font-weight: 300; 
    border: 1px solid whitesmoke;
    text-align: left;
  }
  td { font-style: italic;border: .5px solid whitesmoke; }

  table.commission-records__table {
    width: 100%;
    border: 1px solid whitesmoke;
  }

    td.loan-data, th.tableHeading { text-decoration: underline; }

    td:not(.loan-data) {
      text-align: left;
    }


  li {
    display: inline;
    padding: 1rem;
    font-size: 1.2rem;
  }

  li a {
    color: #27a0a0;
    cursor: pointer;
    padding: 3.5rem;
  }

  li a:hover {
    color: white;
  }
  ul {
    list-style: none;
    margin-left: 2rem;
    margin-bottom: 2rem;
  } 

#loan-monthly-payment, #loan-total, #loan-total-interest {
  text-decoration: underline;
   color: rgba(223, 219, 219, 0.5);
}

select option { color: rgb(56, 54, 54); }

p.lenders, p#commission-results {
  font-size: 1.5rem;
  padding-bottom: 0;
}